Django==3.0.12
lxml==4.5.0
matplotlib==3.2.1
nltk==3.5
notebook==5.2.2
numpy==1.18.4
pandas==1.0.3
requests==2.23.0
scipy==1.4.1
seaborn==0.10.0
selenium==3.8.0
spacy
scikit-learn
textacy==0.10.0
textblob==0.15.3
tweepy==3.8.0
vaderSentiment==3.2.1
wordcloud==1.7.0
XlsxWriter==1.2.8
