{% load static %}

<link rel="stylesheet" href="{% static 'home/assets/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<link rel="stylesheet" href="{% static 'home/assets/fonts/fontawesome-all.min.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/fonts/material-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Custom-Checkbox.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Gallery.css'%}">
<link rel="stylesheet" href="{% static 'home/assets/css/textarea.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Animations.css' %}">


<style>
    span.inputs {
        font-size: 16px;
        font-weight: bold;
        color: #00c48b;
        text-transform: capitalize;
    }
    
    p.res_textbox {
        color: black;
        font-size: 18px;
    }
    
    span.navitems {
        font-size: 15px;
        margin-top: 2%;
        ;
        font-weight: bold;
    }
    
    i.iconitem {
        font-size: large;
    }
    
    button.mybutton {
        color: rgb(245, 245, 245);
        border-color: black;
        font-size: 18px;
        font-weight: bold;
    }
    
    button.mybutton:hover {
        border-color: rgb(22, 22, 22);
        box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
        border-radius: .25em;
        transition: scale 0.3s;
        scale: 1.05;
    }

    
    .Collapse:hover
    {
        border-color: rgb(119, 118, 129)
        box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
        border-radius: .25em;
        transition: scale 0.3s;
        scale: 1.009;
    }







    h2.plot_title{
        color: black;
        font-weight:600;
        font-size: 22px;
    }
    .loadings {}
    
    .loader {
        border: 8px solid #f3f3f3;
        border-radius: 50%;
        border-top: 8px solid #3498db;
        width: 65px;
        height: 65px;
        -webkit-animation: spin 0.7s linear infinite;
        /* Safari */
        animation: spin 0.7s linear infinite;
    }
    /* Safari */
    
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }







  
 


    
</style>





<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme">

<link rel="stylesheet" href="{% static 'home/assets/fonts/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/fonts/typicons.min.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/fonts/fontawesome5-overrides.min.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Basic-fancyBox-Gallery-v2.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Bootstrap-4---Photo-Gallery.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Continue-Button.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Cover-with-meme-and-fluid-typography.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Filterable-Gallery-with-Lightbox.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Gallery-1.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Simple-Form-1.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Simple-Form.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Team.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/untitled.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/toggleswitch.css' %}">


<link rel="stylesheet" href="{% static 'home/assets/css/Add-Another-Button.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Toggle-Switches.css' %}">



<script src="{% static 'home/assets/js/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>








