<style>
#progressbar {
  background-color: rgb(180, 180, 180);
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
  transform: scale(0.9);
  width: 100%;
}

#progressbar>div {
  background-color: rgb(55, 89, 238);
  width: 0%;
  color: white; 
  text-align: right; 
  font-size: 20px;
  transition: 0.5s;

  height: 25px;
  border-radius: 10px;
}
</style>
<br>
<div> 
  <div id="progressbar">
    <div>0%</div>
  </div>

<center>
  <h2>Please dont <strong>Refresh Page</strong> Analysis in progress ...</h2>

</center>
</div>
